.carCateroryWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.noCarTextBlock {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: var(--text-color);
}

.categoryHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateAllButton {
    background-color: var(--header-background-color);
    color: var(--text-color);
    transition: 0.5s all;
    font-size: 13px;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

.updateAllButton:disabled {
  background-color: var(--hidden-button-active);
}

.updateAllButton:hover {
  background-color: var(--button-hover);
}

.updateAllButton:disabled:hover {
  background-color: var(--hidden-button-active);
}

.categoryNavigationWrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  grid-gap: 10px;
}