@font-face{
  font-family: "Roboto";
  src:local("Roboto-Bold"),
  url('./src/assets/fonts/roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

@font-face{
  font-family: "Roboto";
  src:local("Roboto-Light"),
  url('./src/assets/fonts/roboto/Roboto-Light.ttf');
  font-weight: 300;
}

@font-face{
  font-family: "Roboto";
  src:local("Roboto-Regular"),
  url('./src/assets/fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
}

* {
  box-sizing: border-box;
}


:root {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  max-width: none;
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

span, a, button {
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--text-color);
  /*padding-top: 30px;
  margin-top: 0;*/
}

.container {
  padding: 0 20px;
}

html[data-theme='light'] {
  --header-background-color: #f3f3f3;
  --text-color: #2c2c2c;
  --opacity-text-color: rgba(44, 44, 44, 0.5);
  --theme-button-background-color: #c7c6c6;
  --main-background-color: #e8e8e8;
  --table-background-color: #dce0ec;
  --table-border: #c4c4c4;
  --button-active: #cddbf8;
  --button-hover: #b3cbff;
  --favorite-button: #d0f8cd;
  --favorite-button-active: #dbf5d2;
  --hidden-button: #f8cdcd;
  --hidden-button-active: #e8d4d4;
  --breadcrumbs-hover: #226bd3;
  --favorite-background-color: #d4e8d4;
  --popup-background-color: #4979e1;
  --form-popup-side-wrapper: rgba(0, 0, 0, 0.5);
  --modal-button: #226bd3;
  --modal-button-hover: #3379dc;
}

html[data-theme='dark'] {
  --header-background-color: #565656;
  --text-color: #efefef;
  --opacity-text-color: rgba(239, 239, 239, 0.5);
  --theme-button-background-color: #8c8b8b;
  --main-background-color: #676767;
  --table-background-color: #575b62;
  --table-border: #8d8d8d;
  --button-active: #3c6194;
  --favorite-button: #3f943c;
  --favorite-button-active: #627359;
  --hidden-button: #943c3c;
  --hidden-button-active: #705959;
  --button-hover: #4979e1;
  --breadcrumbs-hover: #769cff;
  --favorite-background-color: #445240;
  --popup-background-color: #4979e1;
  --form-popup-side-wrapper: rgba(0, 0, 0, 0.67);
  --modal-button: #4979e1;
  --modal-button-hover: #5d87e3;
}

.mainBlockWrapper {
  background-color: var(--main-background-color);
  transition: 0.3s background-color;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
  padding: 1px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 4px solid var(--button-hover);
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
  0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
  12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
  25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
  50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
  75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
  100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}

