.mainLink {
  text-decoration: none !important;
}

.mainLink,
.mainLink:hover,
.mainLink:visited,
.mainLink:focus {
  text-decoration: none !important;
  color: var(--text-color);
}


.mainBlockWrapper {
  width: 100%;
  display: flex;
  max-height: 300px;
  margin-bottom: 20px;
  background-color: var(--header-background-color);
  border-radius: 10px;
  overflow: hidden;

  .imageBlock{
    width: 30%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
    }
  }

  .info {
    position: relative;
    padding: 20px;
    width: 70%;

    .firstDateShowWrapper{
      position: absolute;
      right: 120px;
      top: 20px;
      padding: 7px;
      font-size: 13px;
      
      span {
      }

      span:last-child {
        margin-left: 10px;
      }
    }

    .carPrice {
      margin-bottom: 10px;
    }

    .goToSiteButton {
      position: absolute;
      top: 20px;
      font-size: 13px;
      right: 20px;
      padding: 7px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background-color: var(--main-background-color);
      color: var(--text-color);
      transition: 0.5s all;
      z-index: 10;
    }

    .dynamicsWrapper {
        position: absolute;
        bottom: 20px;
        left: 20px;

      span {
        display: block;
        margin-bottom: 10px;
      }

      .dynamicsChart{
        border-radius: 10px;
        overflow: hidden;
        /*border: 1px solid var(--table-border);*/
      }
    }

    .duplicateAdsWrapper {
      position: absolute;
      bottom: 20px;
      right: 20px;
      padding: 15px;
      border-radius: 10px;
      background-color: var(--main-background-color);
      font-size: 14px;

      span {
        display: block;
        margin-bottom: 5px;
      }

      .duplicateBlock{
        display: flex;
        text-decoration: none !important;
        color: var(--text-color);
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 5px;
        align-items: center;

        img {
          width: 15px;
          margin-right: 5px;
          transition: 0.5s all;
        }
      }

      .duplicateBlock:hover img {
        transform: translateY(-3px);
      }

      .duplicateBlock:last-child {
        margin-bottom: 0;
      }
    }

    .goToSiteButton:hover {
      transform: translateY(-2px);
      background-color: var(--button-hover);
    }

    .text {
      color: var(--text-color);
      font-size: 20px;
    }

    .textTitle {
      margin-bottom: 10px;
    }

    .shortDescription {
      font-size: 16px;
      margin-bottom: 10px;
      width: 80%;
    }

    .fullDescription {
      font-size: 14px;
      line-height: 1.3;
      color: var(--opacity-text-color);
      max-width: 100%;
      width: 80%;
    }
  }
}