.pricesBlockWrapper {
  display: flex;
  font-size: 13px;
  margin-right: 10px;
  margin-bottom: 10px;
  span {
    font-size: 13px;
  }

  .priceBlockTitle {
    font-weight: 700;
  }

  .pricesBlock {
    display: flex;
    align-items: center;
    margin-left: 5px;
    img {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    .greenArrow {
      transform: rotate(-90deg);
    }

    .redArrow {
      transform: rotate(90deg);
    }
  }
}



